{% extends 'layout.html' %}
{% block title %}Welcome{% endblock %}

{% block body %}
	{% if len(posts) > 0 %}
		{% for post in posts %}
			<div class="row npf">
				<div class="col-md-10">
					<a href="{{ url_for('viewPost', uid=str(post.postid)) }}">{{ post.title }}</a>
				</div>
				<div class="col-md-2 by">
					By <a href="{{ url_for('profile',  name=post.author.alias) }}">{{ post.author.alias }}</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<h2 class="npf"> No Posts Found :( </h2>
	{% endif %}

	{% endblock %}
