{% extends 'layout.html' %}
{% block header %}
<div class="links">
    <a href="{{ url_for('index')}}">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </a>
    {% if not session.get('logged_in') %}
        •
        <a href="{{ url_for('login')}}">Log in</a>
        •
        <a href="{{ url_for('signup')}}">Sign up</a>
    {% endif %}
    {% if session.get('logged_in') %}
        •
        <a href="{{ url_for('dashboard')}}">
            {{ session.get("alias")}}
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>

        •
        <a href="{{ url_for('settings')}}">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        {% if session.get('is_judge') %}
            •
            <a href="{{ url_for('judge') }}">
                <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
            </a>
        {% endif %}
        •
        <a href="{{ url_for('logout')}}">Log out</a>

    {% endif %}

</div>
<div class="container">
{% endblock %}
{% block footer %}
</div>
{% endblock %}
