{% extends 'layout.html' %}
{% block header %}
<div class="links">
    {% if not session.get('logged_in') %}
        <a href="{{ url_for('login')}}">Log in</a>
        •
        <a href="{{ url_for('signup')}}">Sign up</a>
    {% endif %}
    {% if session.get('logged_in') %}
        •
        <a href="{{ url_for('logout')}}">Log out</a>
        •
        <a href="{{ url_for('settings')}}">Settings</a>
    {% endif %}
    •
    <a href="{{ url_for('profile', name = 'bob')}}">Example user page</a>
</div>
{% endblock %}
