{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block body %}

    <style type="text/css">
    
    body{
    background: #E0EEEE;
    text-align: center;
    }
    
    form{
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    left: 50%;
    margin-left: -150px;
    padding: 24px;
    position: absolute;
    top: 100px;
    width: 300px;
    }
    
    </style>

    <form method="post" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <table>
            <tr>
                <td>
                {{ form.email.label }}
                </td>
                <td>
                {{ form.email() }}
                </td>
            </tr>
            <tr>
                <td>
                {{ form.password.label}}
                </td>
                <td>
                {{ form.password()}}
                </td>
            </tr>
        </table>
        <input type="submit" value="login">
    </form>
{% endblock %}
