{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block body %}

    <style type="text/css">

    body{
    background: #E0EEEE;
    text-align: center;
    }

    form{
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    left: 50%;
    margin-left: -150px;
    padding: 24px;
    position: absolute;
    text-align: right;
    top: 100px;
    max-width: 400px;
    }

    </style>

    <form method="post" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <table>
            <tr style="height: 15px;">
            </tr>
            <tr>
                <td>
                {{ form.email.label }}
                </td>
                <td style="width: 24px;">
                </td>
                <td>
                {{ form.email() }}
                </td>
            </tr>
            <tr style="height: 7px;">
            </tr>
            <tr>
                <td>
                {{ form.password.label}}
                </td>
                <td style="width: 24px;">
                </td>
                <td>
                {{ form.password()}}
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="login">
    </form>
{% endblock %}
