{% macro renderPost(post) -%}
    <div class="row npf">
        <div class="col-md-8">
            <a href="{{ url_for('viewPost', pid=str(post.postid)) }}">
                {% if len(post.title) < 20 %}
                    {{ post.title }}
                {% else %}
                    {{ post.title[:30] }}...
                {% endif %}
            </a>
        </div>
        <div class="col-md-8">
            {{ moment(post.created_at).fromNow() }}
        </div>
        <div class="col-md-2 by">
            By <a href="{{ url_for('profile',  name=post.author.alias) }}">{{ post.author.alias }}</a>
            <div class="dropdown">
                <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                </div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('flag', type_=1, postid=post.postid) }}">Inapropriate</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('flag', type_=2, postid=post.postid) }}">Intolerant</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('flag', type_=3, postid=post.postid) }}">Illegal Content</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('flag', type_=4, postid=post.postid) }}">Spam</a></li>
                </ul>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro renderComment(comment) -%}
    <div class="comment">
        <div class="row">
            <div class="col-md-1">
                <div class="user-color" style="background-color:{{ comment.author.color }}"></div>
            </div>
            <div class="col-md-5 comment-title">
                <h5>
                    <a href="{{ url_for('profile', name=comment.author.alias)}}">{{ comment.author.alias }}</a>
                    <small>{{ moment(comment.created_at).fromNow() }}</small>
                </h5>
            </div>
            <div class="col-md-6 flag">
                <div class="dropdown">
                    <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('flagComment', type_=1, postid=comment.commentid) }}">
                                Inapropriate
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('flagComment', type_=2, postid=comment.commentid) }}">
                                Intolerant
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('flagComment', type_=3, postid=comment.commentid) }}">
                                Illegal Content
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ url_for('flagComment', type_=4, postid=comment.commentid) }}">
                                Spam
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                {{ comment.body }}
            </div>
        </div>
    </div>
{%- endmacro %}
