{% extends 'header.html' %}

{% block title %}
{% if post %}
	{{ post.title }}!
{% else %}
	ERROR
{% endif %}
{% endblock %}
{% block body %}
    <script src="/static/js/voting.js"></script>
	{% if post %}
	<div class="post">
    	<h2 class="pt">{{ post.title }}</h2>
    	<p class="pc">
            {{ post.content }}
        </p>
        <h4 class="author">by <a href='{{ url_for("profile", name = post.author.alias) }}'>{{post.author.alias}}</a></h4>
        {{ macros flagPost(post.postid) }}
		<input type="hidden" id="pid" value="{{ post.postid }}"></input>
        {% if up %}
            <button id="unUp" class="btn btn-warning" style="width:100px;" onclick="UupV()">Un-up vote</button>
						<button id="up" class="btn btn-success" style="width:100px;display:none;" onclick="upV()"><span class="glyphicon glyphicon-arrow-up"></span>Upvote</button>
		{% elif down %}
            <button id="up" class="btn btn-success" style="width:100px;display:none;" onclick="upV()"><span class="glyphicon glyphicon-arrow-up"></span>Upvote</button>
						<button id="unUp" class="btn btn-warning" style="width:100px;display:none;" onclick="UupV()">Un-up vote</button>
        {% else %}
            <button id="up" class="btn btn-success" style="width:100px;" onclick="upV()"><span class="glyphicon glyphicon-arrow-up"></span>Upvote</button>
						<button id="unUp" class="btn btn-warning" style="width:100px;display:none;" onclick="UupV()">Un-up vote</button>
        {% endif %}
        {% if down %}
            <button id="unDown" class="btn btn-success" style="width:100px;" onclick="UdV()">Un-down vote</button>
						<button id="down" class="btn btn-danger" style="width:100px;display:none;" onclick="dV()"><span class="glyphicon glyphicon-arrow-down"></span>Downvote</button>
		{% elif up %}
            <button id="down" class="btn btn-danger" style="width:100px;display:none;" onclick="dV()"><span class="glyphicon glyphicon-arrow-down"></span>Downvote</button>
						<button id="unDown" class="btn btn-success" style="width:100px;display:none;" onclick="UdV()">Un-down vote</button>
        {% else %}
            <button id="down" class="btn btn-danger" style="width:100px;" onclick="dV()"><span class="glyphicon glyphicon-arrow-down"></span>Downvote</button>
						<button id="unDown" class="btn btn-success" style="width:100px;display:none;" onclick="UdV()">Un-down vote</button>
        {% endif %}
		{% if session.get('logged_in') %}
			<form action="{{ url_for('newComment', postid = post.postid) }}" method="post">
				{{ comment.csrf_token }}
				<div class="form-group">
			        {{ comment.content.label }}
					{{ comment.content(placeholder="Comment", class_="form-control comment-box") }}
				</div>
			<input class="btn btn-default btn-sm" type="submit" value="Comment"></input>
			</form>
			<script src="/static/js/monsterUI.js"></script>
			<button id="mBtn" onclick="SmD()">Insert Emotional Monster</button>
			<div id="mDialog" style="z-index:1;display:none;border:1px solid;text-align:center;background-color:white;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);position:absolute;"></div>
		{% else %}
			<h3>Please Signup or Login to comment</h3>
		{% endif %}
		{% for c in post.comments %}
			{{ macros.renderComment(c) }}
		{% endfor %}
	{% else %}
		<h1>Error 404</h1>
		no post found<br/>
	</div>
	{% endif %}
{% endblock %}
{% block script %}
<script>
	$('.reply').click(function(e){
		e.preventDefault();
		$('.comment-box').val($('.comment-box').val()+">>>"+$(this).attr('href'))
	});

</script>
{% endblock %}
