{% extends 'header.html' %}
{% block title %}Settings{% endblock %}
{% block body%}
    <h1>Settings</h1>
    <div class="col-md-4 col-md-offset-4">
    {% if err != None %}
        {{ err }}
    {% endif %}
    <p>Change Password</p>
        <form method="post" action="{{ url_for('settings') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.password.label }} {{ form.password(placeholder="Old Password", class_="form-control")}}
            </div>
            <div class="form-group">
                {{ form.newPassword.label }} {{ form.newPassword(placeholder="New Password", class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.newPassword2.label }} {{ form.newPassword2(placeholder="New Password (Again)", class_="form-control") }}
            </div>
            <input class="btn btn-default" type="submit" value="change password">
        </form>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <p>Advanced</p>
        {% if apikey != None %}
            <div class="form-group">
                <label class="sr-only" for="api-key">ApiKeys</label>
                <input type="text" class="form-control" id="api-key"value="{{ apikey }}" readonly>
            </div>
            <a class="btn btn-danger" href="{{ url_for('generateapikey') }}">Generate Api Key</a>
        {% else %}
            <a class= "btn btn-danger" href="{{ url_for('generateapikey') }}">Generate Api Key</a>
        {% endif %}
    </div>
{% endblock %}
