{% extends 'layout.html' %}
{% block title %}Signup{% endblock %}
{% block body %}
    {% if err != None %}
        {{ err }}
    {% endif %}
    <form class="loginForm" method="post" action="{{ url_for('signup') }}">
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email(placeholder = 'Email') }}<br>
        {{ form.alias.label }} {{ form.alias(placeholder = 'Username') }}<br>
        {{ form.password.label }} {{ form.password(placeholder = 'Password')}}<br>
        {{ form.password2.label }} {{ form.password2(placeholder = 'Password (Again)') }}<br>
        <input type="submit" value="signup">
    </form>
{% endblock %}
