{% extends 'layout.html' %}

{% block title %}
{% if name %}
	User {{ name }}!
{% else %}
	ERROR
{% endif %}
{% endblock %}
{% block body %}
	{% if name %}
		<h1>This is the profile for {{ name }}!</h1>
	{% else %}
		<h1>Error 404</h1>
		no user specified<br/>
	{% endif %}
	<!--Iterates through posts dictionary and adds each post to list-->
	<h2>Posts:</h2>
	{% for post in posts %}
        <h3>{{ post.title }}</h3>
        <h5>By <a href='{{ url_for("profile", name = post.author.alias) }}'>{{post.author.alias}}</a></h5>
        <p>
            {{ post.content }}
        </p>
    {% else %}
        No posts foud
    {% endfor %}
{% endblock %}
