/* global style */
body{
    background: #C3E4ED;
    text-align: center;
}

.btn {
    display: block;
    margin: auto;
    width: 50%;
}


/*for non mobile screens :)*/
@media (min-width: 991px) {

    .links{
        display: block;
        background: #FFFFFF;
        border-bottom: 1px solid #0F3D74;
        opacity: 0.7;
        padding: 7px;
        position: fixed;
        right: 0px;
        text-align: right;
        top: 0px;
        width: 100%;
    }

    .links a{
        font-weight:bold;
        color: #0F3D74;
        font-size: 14px;
    }

    .links a:hover{
        color: #06182E;
        font-size: 14px;
        text-decoration: none;
    }

    .npf{
        background: #FFFFFF;
        border: 3px solid #FFFFFF;
        font-size: 21px;
        padding: 7px;
        text-align: left;
        display: block;
        margin: auto;
        margin-bottom:10px;
        width: 50%;
    }

    .npf a{
        color: #0F3D74;
        text-decoration: none;
    }

    .npf a:hover{
        color: black;
        text-decoration: none;
    }

    .by{
        font-size: 15;
    }


    .container {
        margin-top:50px;
    }

    .loginForm {
    background: #FFFFFF;
    border: 1px solid #0F3D74;
    border-radius: 3px;
    padding: 24px;
    position: absolute;
    margin-top: 15vh;
    }
}

/* mobile screens only */

@media (max-width: 990px){

    .links{
        display: block;
        background: #FFFFFF;
        border-bottom: 1px solid #0F3D74;
        opacity: 0.7;
        padding: 7px;
        position: fixed;
        right: 0px;
        text-align: right;
        top: 0px;
        width: 100%;
    }

    .links a{
        font-weight:bold;
        color: #0F3D74;
        font-size: 14px;
    }

    .links a:hover{
        color: #06182E;
        font-size: 14px;
        text-decoration: none;
    }

    .npf{
        background: #FFFFFF;
        border: 3px solid #FFFFFF;
        font-size: 21px;
        padding: 7px;
        text-align: left;
        display:block;
        margin-bottom:10px;
    }

    .npf a{
        color: #0F3D74;
        text-decoration: none;
    }

    .npf a:hover{
        font-weight: bold;
        text-decoration: none;
    }

    .by{
        font-size: 15;
    }


    .container {
        margin-top:50px;
    }

    .loginForm {
    background: #FFFFFF;
    border: 1px solid #0F3D74;
    border-radius: 3px;
    padding: 24px;
    position: absolute;
    margin-top: 15vh;
    }

}
