
body{
    background: #3B8CB2;
    background-repeat: none;
    background-size: 100%;
    text-align: center;
}

.links{
    display: block;
    background: #FFFFFF;
    border-bottom: 1px solid #0F3D74;
    opacity: 0.7;
    padding: 7px;
    position: fixed;
    right: 0px;
    text-align: right;
    top: 0px;
    width: 100%;
}

.links a{
    color: #0F3D74;
    font-size: 14px;
}

.links a:hover{
    color: #0F3D74;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.npf{
    background: #FFFFFF;
    width : 100%;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 3px 1px #FFFFFF;
    font-size: 21px;
    padding: 7px;
    text-align: left;
    -moz-box-shadow: 0px 0px 7px 1px #FFFFFF;
    -webkit-box-shadow: 0px 0px 7px 1px #FFFFFF;
    display:block;
    margin-bottom:10px;
}

.npf a{
    color: #0F3D74;
    text-decoration: none;
}

.npf a:hover{
    font-weight: bold;
    text-decoration: none;
}

.by{
    font-size: 15;
}


.container {
    margin-top:50px;
}

.loginForm {
background: #FFFFFF;
border: 1px solid #0F3D74;
border-radius: 3px;
left: 50%;
margin-left: -150px;
padding: 24px;
position: absolute;
text-align: right;
top: 100px;
max-width: 400px;
}

.btn {
    width: 100%;
}
